body{
  display: flex;
  flex-direction: row;
}

.container {
    display: flex;
    justify-content: left;
    margin-right: 10px;
    background-color: gray;
    height: 500px;
    weight: 500px;
  }

.card {
    background-color: #ccc;
    padding: 10px;
    width: 300px;
  }
  .card-container{
    height: 66px;
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
.card-content {
    background-color: white;

  }
  .textarea {
        height: 20px;
        width: 90%;

  }
  
  .add-icon {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .add-text {
    color: #333;
  }

  /* card dragging */


.dragging {
  opacity: 0.5;
}

.drag-over {
  border: 2px dashed red;
}


  
