.container {
    display: flex;
    justify-content: left;
  }

.card {
    background-color: #ccc;
    padding: 10px;
    width: 300px;
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
.card-content {
    background-color: white;
        width: 90%;
  }
  
  .add-icon {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .add-text {
    color: #333;
  }
  
